In [2]:
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [3]:
data=[['eggs', 'milk','bread'], ['eggs', 'apple'], ['milk', 'bread'], ['apple', 
'milk'], ['milk', 'apple', 'bread']] 

data

[['eggs', 'milk', 'bread'],
 ['eggs', 'apple'],
 ['milk', 'bread'],
 ['apple', 'milk'],
 ['milk', 'apple', 'bread']]

In [4]:
tr=TransactionEncoder()
new_frame=tr.fit(data).transform(data)

frame=pd.DataFrame(new_frame,columns=tr.columns_)
frame

   apple  bread   eggs   milk
0  False   True   True   True
1   True  False   True  False
2  False   True  False   True
3   True  False  False   True
4   True   True  False   True

In [8]:
frequrnt_items=apriori(frame,min_support=0.1,use_colnames=True)
frequrnt_items

    support              itemsets
0       0.6               (apple)
1       0.6               (bread)
2       0.4                (eggs)
3       0.8                (milk)
4       0.2        (apple, bread)
5       0.2         (apple, eggs)
6       0.4         (apple, milk)
7       0.2         (eggs, bread)
8       0.6         (bread, milk)
9       0.2          (eggs, milk)
10      0.2  (apple, bread, milk)
11      0.2   (eggs, bread, milk)

In [9]:
asscoiction=association_rules(frequrnt_items)
asscoiction

      antecedents consequents  ...  conviction  zhangs_metric
0         (bread)      (milk)  ...         inf           0.50
1  (apple, bread)      (milk)  ...         inf           0.25
2   (eggs, bread)      (milk)  ...         inf           0.25
3    (eggs, milk)     (bread)  ...         inf           0.50

[4 rows x 10 columns]