In [31]:
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [32]:
data=[
    ['Bread','milk'],
    ['Bread','Diaper','Beer','Eggs'],
    ['Milk','Diaper','Beer','Coke'],
    ['Bread','Milk','Diaper','Beer'],
    ['Bread','Milk','Diaper','Coke']
]

In [33]:
tr=TransactionEncoder()
frame=tr.fit(data).transform(data)
data=pd.DataFrame(frame,columns=tr.columns_)
data

    Beer  Bread   Coke  Diaper   Eggs   Milk   milk
0  False   True  False   False  False  False   True
1   True   True  False    True   True  False  False
2   True  False   True    True  False   True  False
3   True   True  False    True  False   True  False
4  False   True   True    True  False   True  False

In [34]:
frequent_itemset=apriori(data,min_support=0.4,use_colnames=True)
frequent_itemset

    support               itemsets
0       0.6                 (Beer)
1       0.8                (Bread)
2       0.4                 (Coke)
3       0.8               (Diaper)
4       0.6                 (Milk)
5       0.4          (Beer, Bread)
6       0.6         (Beer, Diaper)
7       0.4           (Milk, Beer)
8       0.6        (Diaper, Bread)
9       0.4          (Milk, Bread)
10      0.4         (Coke, Diaper)
11      0.4           (Milk, Coke)
12      0.6         (Milk, Diaper)
13      0.4  (Beer, Diaper, Bread)
14      0.4   (Milk, Beer, Diaper)
15      0.4  (Milk, Diaper, Bread)
16      0.4   (Milk, Coke, Diaper)

In [35]:
association_rules(frequent_itemset,metric='confidence',min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Beer),(Diaper),0.6,0.8,0.6,1.0,1.250000,0.12,inf,0.500000
1,(Coke),(Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf,0.333333
2,(Coke),(Milk),0.4,0.6,0.4,1.0,1.666667,0.16,inf,0.666667
3,(Milk),(Diaper),0.6,0.8,0.6,1.0,1.250000,0.12,inf,0.500000
4,"(Beer, Bread)",(Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf,0.333333
5,"(Milk, Beer)",(Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf,0.333333
6,"(Milk, Bread)",(Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf,0.333333
7,"(Milk, Coke)",(Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf,0.333333
8,"(Coke, Diaper)",(Milk),0.4,0.6,0.4,1.0,1.666667,0.16,inf,0.666667
9,(Coke),"(Milk, Diaper)",0.4,0.6,0.4,1.0,1.666667,0.16,inf,0.666667

In [36]:
frequent_itemset['length']=frequent_itemset['itemsets'].apply(lambda x: len(x))
print(frequent_itemset[frequent_itemset['length']>=2])

    support               itemsets  length
5       0.4          (Beer, Bread)       2
6       0.6         (Beer, Diaper)       2
7       0.4           (Milk, Beer)       2
8       0.6        (Diaper, Bread)       2
9       0.4          (Milk, Bread)       2
10      0.4         (Coke, Diaper)       2
11      0.4           (Milk, Coke)       2
12      0.6         (Milk, Diaper)       2
13      0.4  (Beer, Diaper, Bread)       3
14      0.4   (Milk, Beer, Diaper)       3
15      0.4  (Milk, Diaper, Bread)       3
16      0.4   (Milk, Coke, Diaper)       3

In [37]:
print(frequent_itemset[frequent_itemset['length']>=3])

    support               itemsets  length
13      0.4  (Beer, Diaper, Bread)       3
14      0.4   (Milk, Beer, Diaper)       3
15      0.4  (Milk, Diaper, Bread)       3
16      0.4   (Milk, Coke, Diaper)       3